Validate hostname fields in the UI

## Tell us about the problem you're trying to solve
For fields that have to be hostnames users are able to enter invalid values. E.g. when filling an host name with a space the form is considered valid but the server can't generate a valid consent URL
<img width="1119" alt="URLerror" src="https://user-images.githubusercontent.com/1310940/216177867-a590f3bd-24c6-45e7-a280-fadf2dcab2ac.png">

Ideally, UI would prevent someone entering a value that is not a valid URL. At least, we should validate the values against the common URL regex.

JSON schema natively supports the format `hostname` ([RFC 1123, section 2.1](https://datatracker.ietf.org/doc/html/rfc1123#section-2.1)), we could leverage that in the UI - it seems well-defined. However we probably don't want to hand-roll validation logic for that RFC, but it would be really nice to do "real" json schema validation in the UI for this: https://github.com/airbytehq/airbyte/issues/20065

@flash1293 I think most DNS servers are allowing more than what [rfc952](https://datatracker.ietf.org/doc/html/rfc952) describes (the one RFC 1123 refers to for definition of a DNS name). So I'm not sure if we should validate based on that standard, and potentially make it unable for users to e.g. still use their hostnames with underscores, which they might have. (At least I feel we should do some digging into if we'll break it for some users strictly following the standard.)