Source Amazon Seller Partner: "zlib error -3: incorrect header check" on decompressing reports

### Connector Name

source-amazon-seller-partner

### Connector Version

1.3.0

### What step the error happened?

During the sync

### Revelant information

Syncing certain streams for ASP throws the error `zlib.error: Error -3 while decompressing data: incorrect header check`. It appears to happen with the two inventory-related streams (`GET_LEDGER_DETAIL_VIEW_DATA` and `GET_LEDGER_SUMMARY_VIEW_DATA`).

This StackOverflow appears to have answers on the issue: https://stackoverflow.com/questions/3122145/zlib-error-error-3-while-decompressing-incorrect-header-check

> Which is most likely because you are trying to check headers that are not there, e.g. your data follows RFC 1951 (deflate compressed format) rather than RFC 1950 (zlib compressed format) or RFC 1952 (gzip compressed format).
> But zlib can decompress all those formats:
> - to (de-)compress deflate format, use wbits = -zlib.MAX_WBITS
> - to (de-)compress zlib format, use wbits = zlib.MAX_WBITS
> - to (de-)compress gzip format, use wbits = zlib.MAX_WBITS | 16



### Relevant log output

```shell
2023-06-22 21:43:45 source > Encountered an exception while reading stream GET_LEDGER_DETAIL_VIEW_DATA
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/airbyte_cdk/sources/abstract_source.py", line 121, in read
    yield from self._read_stream(
  File "/usr/local/lib/python3.9/site-packages/airbyte_cdk/sources/abstract_source.py", line 196, in _read_stream
    for record in record_iterator:
  File "/usr/local/lib/python3.9/site-packages/airbyte_cdk/sources/abstract_source.py", line 333, in _read_full_refresh
    for record_data_or_message in record_data_or_messages:
  File "/airbyte/integration_code/source_amazon_seller_partner/streams.py", line 375, in read_records
    yield from self.parse_response(response, stream_state, stream_slice)
  File "/airbyte/integration_code/source_amazon_seller_partner/streams.py", line 298, in parse_response
    document = self.decompress_report_document(payload.get("url"), payload)
  File "/airbyte/integration_code/source_amazon_seller_partner/streams.py", line 290, in decompress_report_document
    return zlib.decompress(bytearray(report), 15 + 32).decode("iso-8859-1")
zlib.error: Error -3 while decompressing data: incorrect header check
```


### Contribute

- [x] Yes, I want to contribute

duplicate https://app.zenhub.com/workspaces/python-connectors-6262f8b593bb82001df56c65/issues/gh/airbytehq/alpha-beta-issues/1512